@model  BabyGet.Web.ViewModels.Items.ItemsListViewModel
@{
    this.ViewData["Title"] = "All Items, page" + Model.PageNumber;
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<div class="row">
@foreach(var item in this.Model.Items )
{
    <div class="media col-md-4">
  <img src="@item.ImageUrl" width="100" class="mr-3 img-responsive">
  <div class="media-body">
    <h5 class="mt-0">@item.Name</h5>
   @item.CategoryName
  </div>
</div>
}
</div>
<hr/>
<partial name="_PagingPartial" model="@Model" />
